body{margin:0;padding:0 0 12px 0;background:#fff;font-size:13px;line-height:22px;}
div,p,li{font-family:Verdana,宋体;font-size:13px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0;vertical-align:middle;padding-bottom:6px;padding-top:6px;}
ul,li{list-style-type:none;}
li{font-size:13px;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}
.fh{height:22px;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
.fc30{color:#303030;font-family:"宋体";}.fchot{color:#ff0700}
.f11{font-size:12px;font-family:tahoma;}
/*今日话题标题*/
h1{font-size:16px;font-weight:200;font-family:黑体;}
h1 a{color:#303030;}
/*普通标题*/
h3{font-size:14px;}
/*页卡*/
h4{font-weight:200;font-size:13px;cursor:pointer;}
h4 a{width:100%;heihgt:100%;display:block;}
a{color:#00007F;text-decoration:none;}
a:hover{color:#bd0a01;text-decoration:underline;}
a.lcblue{color:#0F479C;}
a.lchot{color:#bd0a01;}
.lchot{color:#bd0a01;}
/*迷你导航*/
#miniNav{width:960px;height:30px;margin:0 auto;border-bottom:1px solid #e6e6e6;background:#f8f8f8;color:#a1a0a0;text-align:center;line-height:14px;}
#miniNav img{margin-bottom:4px;border:0;}
#miniNav div{width:954px;margin:0 auto;font-size:12px;padding-top:4px; font-family:"宋体";}
#miniNav span{display:bolck;float:right;}
#miniNav a{color:#a1a0a0;margin:3 3px;font-size:14px;text-decoration:none;padding:3px 3px 1px 3px;display:bolck;float:right;}
#miniNav a:hover{color:#fff;background:#929292;}
#miniNav .qq{font-family:Verdana;margin-top:-2px;}
/*登陆标签*/
/*登陆标签*/
#login{width:958px;margin:0 auto;height:32px;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background:#f8f8f8;color:#000000;font-size:14px;line-height:22px;}
#login #loginl{float:left;margin:0;width:958px;height:32px;padding-top:1px;padding-bottom:1px;font-size:12px;display:inline;white-space:nowrap;}
#login #loginr{width:250px;margin:0;height:32px;padding-top:1px;padding-bottom:1px;font-size:14px;white-space:nowrap;}
#login img{vertical-align:middle;border:0;}
#login input{padding-top:0px;vertical-align:middle;}
#login #loginr input{padding-top:3px;vertical-align:middle;}
#login #loginl input{padding-top:3px;vertical-align:middle;}
#login a{color:#a1a0a0;font-size:12px;text-decoration:none;}
#login a:hover{color:#fff;background:#929292;}
#login .qq{font-family:Verdana;margin-top:-2px;}
#login img{border:0;vertical-align:middle;padding-bottom:6px;padding-top:6px;}
/*顶部910导航*/
#NavCenter{text-align:left;}
#TopNav{width:960px;margin:0 auto;padding:6px 0 4px 0;height:72px;line-height:17px;}
#Logo{width:260px;float:left;text-align:left;}
#TextNav{float:left;width:700px;font-size:13px;font-family:"宋体";text-align:left;}
#TextNav span{display:block;float:left;}
#TextNav a{padding:2px 6px 0 7px;font-size:13px;display:block;float:left;font-family:"宋体";}
#TextNav a.lcnew{background:url(9468357.gif) no-repeat 31px -37px;}
#TextNav a:hover{color:#fff;text-decoration:none;}
#TextNav a.lcnew:hover{color:#fff;background-image:url(9468357.gif);background-position:31px -37px; background-repeat:no-repeat;}
#TextNav a.bcnew{background:url(9468357.gif) no-repeat 59px -37px;}
#TextNav a.bcnew:hover{color:#fff;background-image:url(9468357.gif);background-position:59px -37px; background-repeat:no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#TextNav *{font-family:STSong;}
}
/*搜索条*/
#search{height:auto;width:950px;padding:0 5px;margin:0 auto;background:url(search_bg.png) repeat-x 0 0;color:#fff;}
#search a{color:#fff;}
#search a:hover{color:#f60;}
#search a:active{color:#f60;}
#search a:visited{color:#fff !important;}
#search ul{clear:both;height:30px;}
#search li{float:left;padding:0 8px;line-height:30px}
/*通栏广告*/
#Banner{width:960px;margin:0 auto;padding:1px 0 0 0;height:61px;clear:both;}
/*皮肤列表*/
#Skin div {float:left}
#SkinList {width:56px;height:11px;overflow:hidden;display:block;}
#Skin li{float:left;width:14px;height:11px;cursor:pointer;}
#def div{background:url(9468392.gif) no-repeat left top;}
#s1 div{background:url(9468392.gif) no-repeat left -11px;}
#s2 div{background:url(9468392.gif) no-repeat left -22px;}
#s3 div{background:url(9468392.gif) no-repeat left -33px;}
#s4 div{background:url(9468392.gif) no-repeat left -44px;}
#s5 div{background:url(9468392.gif) no-repeat left -55px;}
#s6 div{background:url(9468392.gif) no-repeat left -66px;}
#s7 div{background:url(9468392.gif) no-repeat left -77px;}
#s8 div{background:url(9468392.gif) no-repeat left -88px;}
#s9 div{background:url(9468392.gif) no-repeat left -99px;}
#sar{cursor:pointer;}
#sar div{background:url(9468357.gif) no-repeat -20px -1px;}
#sar div.s{background:url(9468357.gif) no-repeat -10px -1px;}
/*输入框区域*/
.more{position:absolute;background:#fff;margin:-2px 0 0 -5px!important;margin:16px 0 0 -46px;z-index:10000;border:1px solid #B2D0EA;}
.more a{width:55px;display:block;padding-left:5px;}
.more ul{list-style-type:none;margin:0;padding:0;}
.more li{line-height:24px;list-style-type:none;margin:0;padding:0;text-align:left;}
.more li a,.more li a:visited{color:#3B5995;text-decoration:none;font-size:12px;}
.more li a:hover{background:#D6E9F8;color:#3B5995;text-decoration:none;font-size:12px;}
/*内容部分通用class*/
.cArea{width:960px;margin:0 auto;padding:10px 0 0 0;clear:both;z-index:1;}
.cAreaad002{width:960px;margin:0 auto;padding:1px 0 0 0;clear:both;z-index:1;}
.cArea1{width:960px;margin:0 auto;padding:7px 0 0 0;clear:both;}
.txArea{width:750px;float:left;}
.resArea{width:370px;float:left;}
.proArea{width:370px;;float:right;}
.adArea{width:200px;float:right}
.adMArea{clear:both;padding-top:10px;}
.imgArea{background:url(9468391.gif) repeat-x bottom;height:83px;}
.imgLArea{width:105px;height:70px;padding:0 12px 0 0;float:left;}
.imgRArea,.imgRArea1{float:left;}
.imgRArea *{font-size:14px;line-height:24px;}
.imgLAreapic {width:105px;height:80px;padding:0 12px 0 0;float:left;text-align:center;}
.imgLAreapic img{width:105px;height:55px;margin-bottom:1px;}
.imgLAreapic a{font-size:13px;}
.height{height:122px;}
.textArea{clear:both;padding:5px 0 0 0;}
a.lchot{color:#bd0a01;}
a.lchot:visited{color:#bd0a01;}
a{color:#1f376d;}
.fc30{color:#1f376d;}
#TextNav {color:#1f376d;}
#TextNav a:hover{background:#509ad8;}
#TextNav a.lcnew:hover{background-color:#509ad8;}
#def div{background:url(9468392.gif) no-repeat -14px top;}
/*通用*/
.res_b{background:url(skin1.gif) no-repeat 0 -422px;}
.pro_b{background:url(skin1.gif) no-repeat 0 -426px;}
.res_b,.pro_b{height:2px;}
.cArea .ar{background:url(skin1.gif) no-repeat -630px -116px;}
.cArea .al{background:url(skin1.gif) no-repeat -641px -116px;}

#proArea{background:url(skin1.gif) no-repeat 0 -634px;}
#proArea span{color:#6a7faf}
#proArea a{color:#1f376d;}
#proArea a:hover{color:#fff;background:#509ad8;}
#proArea a.m{color:#696768;}
#proArea_banner{ background:#f3f8fc;}
/*今日更新左边频道栏目*/
#NewsInfo .imgRArea li,#NewsInfo .imgRArea1 li{padding:2px 0 0 12px;background:url(9468357.gif) no-repeat -26px 10px;font-family:宋体;}
/*今日更新内容链接颜色控制*/
#News h4 a:hove{color:#bd0a01;}
#News h4{float:left;height:20px;line-height:20px;text-align:center;width:73px;overflow:hidden;margin-right:1px;padding-top:3px;}
#News h4.s,#News h4.s1{font-weight:700;border-right:0;width:73px;padding-bottom:4px;}
#News span h4 {width:82px;padding-left:4px}
#News span h4.s {width:86px;}
#News span h4.s1 {width:102px;}
#News span h4.s0 {width:102px;}
#News span h4 a{display:inline;}
#News h4 a:hover{color:#bd0a01;}
#News{height:27px;}
#News{background:url(skin1.gif) no-repeat 0 -206px;}
#News h4{background:url(skin1.gif) no-repeat 0 -269px;color:#1f376d;}
#News h4.s{background:url(skin1.gif) no-repeat 0 -297px;color:#1f376d;}
#News h4 a{color:#1f376d}
#News span h4{background:url(skin1.gif) no-repeat -81px -269px;}
#News span h4.s {background:url(skin1.gif) no-repeat -81px -297px;}
#News span h4.s0{background:url(skin1.gif) no-repeat -178px -269px;}
#News span h4.s1 {background:url(skin1.gif) no-repeat -178px -297px;}
#NewsInfo h3 a:hover{color:#bd0a01;}
#NewsInfo a.lchot a.lchot{color:#bd0a01;}
#NewsInfo a.lchot:visited{color:#bd0a01;}
#NewsInfo a.black{color:#000;}
#NewsInfo a.black:hover{color:#000;}
#NewsInfo a.blue{color:#0330bb;}
#NewsInfo a.blue:hover{color:#0330bb;}
#NewsInfo * {font-size:12px;line-height:23px;}
#NewsInfo a {font-size:14px;line-height:24px;}
#NewsInfo{clear:both;overflow:hidden;padding:6px 5px 10px 5px;color:#BAB9B9;}
#NewsInfo .imgLAreapic {width:105px;height:80px;padding:0 6px 0 6px;float:left;text-align:center;}
#NewsInfo{height:462px;padding-top:10px;}
#NewsInfo{border-left:1px solid #aacbee;border-right:1px solid #aacbee;}
#NewsInfo h3 a{color:#1f376d;}
#NewsInfo h3 a.visited{color:#800080}
#NewsInfoad {clear:both;overflow:hidden;padding:1px 1px 10px 1px;color:#BAB9B9;}
#NewsInfoad{height:72px;padding-top:1px;}

.dotline{padding:0;margin:4px 0 8px 4px;font:0;line-height:0;width:350px;height:1px;background:url(9468391.gif) top repeat-x;clear:both;}
/*定制页卡*/
#tailorInfo a {font-size:14px;}
#tailor div{float:left;margin-left:5px;width:auto; cursor:pointer;}
#tailor div.i{padding-top:3px;width:17px;height:12px;}
#tailor div.io{padding-top:3px;width:17px;height:12px;}
#tailorInfo .imgArea{background:url(9468391.gif) repeat-x bottom;height:84px;}
#tailorInfo .textArea{font-family:"宋体";font-size:12px;line-height:24px;margin-top:3px;}
#tailorInfo .textArea a{font-size:14px;}
#tailorInfo .imgLAreapic {width:105px;height:80px;padding:0 6px 0 6px;float:left;text-align:center;}
#tailorInfo .imgLAreapic img{width:105px;height:55px;margin-bottom:5px;}
#tailorInfo .imgLAreapic a{font-size:13px;line-height:15px;}
#tailorInfo {padding-top:3px;}
#tailorInfo .point{background:url(9468391.gif) repeat-x top;clear:both;margin-top:5px;padding-top:8px;}
#tailorInfo .imgLArea {padding-top:4px;}
#tailorInfo .imgLArea {display:none;}
#tailorInfo .imgRArea a.c{color:#BA0F07;}
#tailorInfo .imgRArea1 {width:276px;text-align:right;}
#tailorInfo .imgRArea1 li{display:inline;background:url(9468357.gif) no-repeat -26px 7px;}
/*推荐商情链接颜色控制*/
#Trade h4 a:hover{color:#bd0a01;}
#Trade a.lchot{color:#bd0a01;}
#TradeInfo a.lchot:visited{color:#bd0a01;}
#Trade h4{float:left;width:73px;text-align:center;height:20px;line-height:20px;margin-right:1px;padding-top:3px}
#Trade h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Trade{height:27px;}
#Trade{background:url(skin1.gif) no-repeat 0 -328px;}
#Trade h4{background:url(skin1.gif) no-repeat -371px -297px;color:#00007f;}
#Trade h4.s{background:url(skin1.gif) no-repeat -289px -297px;color:#00007f;border:0;}
#TradeInfo{clear:both;overflow:hidden;padding:5px 1px 5px 1px;color:#D4D4D4;}
#TradeInfo{width:364px;padding:2px;color:#D4D4D4;}
#TradeInfo .textArea *{font-size:13px;line-height:22px;}
#TradeInfo div{font-family:宋体}
#TradeInfo{height:478px}
#TradeInfo{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4;}
#TradeInfo .imgRArea{width:342px;}
#TradeInfo .imgRArea *{line-height:26px;}
#TradeInfo .textArea{padding:1px 0 0 0;}
#TradeInfo .textArea .fl,#TradeInfo .textArea .fr{width:175px;}
#TradeInfoad {clear:both;overflow:hidden;padding:1px 2px 10px 2px;color:#D4D4D4;}
/*推荐商情链接颜色控制*/
/*饲料行情接颜色控制*/
#Feednet{background:url(skin1.gif) no-repeat 0 -206px;}
#Feednet{height:27px;}
#Feednet h4{background:url(skin1.gif) no-repeat 0 -269px;color:#1f376d;}
#Feednet h4.s{background:url(skin1.gif) no-repeat 0 -297px;color:#1f376d;}
#Feednet h4 a{color:#1f376d}
#Feednet h4 a:hover{color:#bd0a01;}
#Feednet h4{float:left;height:20px;line-height:20px;width:73px;text-align:center;overflow:hidden;margin-right:1px;padding-top:3px;}
#Feednet h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Feednet span{position:absolute;overflow:visible;display:block;}
#FeednetInfo{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#BAB9B9;}
#FeednetInfo{height:355px;}
#FeednetInfo{border-left:1px solid #aacbee;border-right:1px solid #aacbee;}
#FeednetInfo div{font-family:宋体}
#FeednetInfo .imgRArea li{padding:2px 0 0 12px;background:url(9468357.gif) no-repeat -26px 10px;font-family:宋体;}
#FeednetInfo .imgLAreapic{width:105px;height:80px;padding:0 6px 0 6px;float:left;text-align:center;}
#FeednetInfo a.lchot{color:#bd0a01;}
#FeednetInfo a.lchot:visited{color:#bd0a01;}
#FeednetInfo .textArea{padding:1px 0;}
#FeednetInfo .textArea *{font-size:12px;line-height:23px;}
#FeednetInfo .textArea a {font-size:14px;}
/*添加剂行情接颜色控制*/
#Siliao{background:url(skin1.gif) no-repeat 0 -206px;}
#Siliao{height:27px;}
#Siliao h4{background:url(skin1.gif) no-repeat 0 -269px;color:#1f376d;}
#Siliao h4.s{background:url(skin1.gif) no-repeat 0 -297px;color:#1f376d;}
#Siliao h4 a{color:#1f376d}
#Siliao h4 a:hover{color:#bd0a01;}
#Siliao h4{float:left;height:20px;line-height:20px;width:73px;text-align:center;overflow:hidden;margin-right:1px;padding-top:3px;}
#Siliao h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Siliao span{position:absolute;overflow:visible;display:block;}
#SiliaoInfo{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#BAB9B9;}
#SiliaoInfo{height:355px;}
#SiliaoInfo{border-left:1px solid #aacbee;border-right:1px solid #aacbee;}
#SiliaoInfo div{font-family:宋体}
#SiliaoInfo .imgRArea li{padding:2px 0 0 12px;background:url(9468357.gif) no-repeat -26px 10px;font-family:宋体;}
#SiliaoInfo .imgLAreapic{width:105px;height:80px;padding:0 6px 0 6px;float:left;text-align:center;}
#SiliaoInfo a.lchot{color:#bd0a01;}
#SiliaoInfo a.lchot:visited{color:#bd0a01;}
#SiliaoInfo .textArea{padding:1px 0;}
#SiliaoInfo .textArea *{font-size:12px;line-height:23px;}
#SiliaoInfo .textArea a {font-size:14px;}
/*养殖专区1行情接颜色控制*/
#Yangzhi1{background:url(skin1.gif) no-repeat 0 -206px;}
#Yangzhi1{height:27px;}
#Yangzhi1 h4{background:url(skin1.gif) no-repeat 0 -269px;color:#1f376d;}
#Yangzhi1 h4.s{background:url(skin1.gif) no-repeat 0 -297px;color:#1f376d;}
#Yangzhi1 h4 a{color:#1f376d}
#Yangzhi1 h4 a:hover{color:#bd0a01;}
#Yangzhi1 h4{float:left;height:20px;line-height:20px;width:73px;text-align:center;overflow:hidden;margin-right:1px;padding-top:3px;}
#Yangzhi1 h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Yangzhi1 span{position:absolute;overflow:visible;display:block;}
#Yangzhi1Info{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#BAB9B9;}
#Yangzhi1Info{height:355px;}
#Yangzhi1Info{border-left:1px solid #aacbee;border-right:1px solid #aacbee;}
#Yangzhi1Info div{font-family:宋体}
#Yangzhi1Info .imgRArea li{padding:2px 0 0 12px;background:url(9468357.gif) no-repeat -26px 10px;font-family:宋体;}
#Yangzhi1Info .imgLAreapic{width:105px;height:80px;padding:0 6px 0 6px;float:left;text-align:center;}
#Yangzhi1Info a.lchot{color:#bd0a01;}
#Yangzhi1Info a.lchot:visited{color:#bd0a01;}
#Yangzhi1Info .textArea{padding:1px 0;}
#Yangzhi1Info .textArea *{font-size:12px;line-height:23px;}
#Yangzhi1Info .textArea a {font-size:14px;}
/*畜牧行情1链接颜色控制*/
#Farming h4 a:hover{color:#bd0a01;}
#Farming a.lchot{color:#bd0a01;}
#FarmingInfo a.lchot:visited{color:#bd0a01;}
#Farming h4{float:left;width:73px;text-align:center;height:20px;line-height:20px;margin-right:1px;padding-top:3px}
#Farming h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Farming{height:27px;}
#Farming{background:url(skin1.gif) no-repeat 0 -328px;}
#Farming h4{background:url(skin1.gif) no-repeat -371px -297px;color:#00007f;}
#Farming h4.s{background:url(skin1.gif) no-repeat -289px -297px;color:#00007f;border:0;}
#FarmingInfo{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#D4D4D4;}
#FarmingInfo{width:348px;padding:10px;color:#D4D4D4;}
#FarmingInfo .textArea *{font-size:14px;line-height:24px;}
#FarmingInfo div{font-family:宋体}
#FarmingInfo{height:355px}
#FarmingInfo{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4;}
#FarmingInfo .imgRArea{width:342px;}
#FarmingInfo .imgRArea *{line-height:26px;}
#FarmingInfo .textArea{padding:3px 0 0 0;}
/*兽医兽药1链接颜色控制*/
#Shouyi h4 a:hover{color:#bd0a01;}
#Shouyi a.lchot{color:#bd0a01;}
#ShouyiInfo a.lchot:visited{color:#bd0a01;}
#Shouyi h4{float:left;width:73px;text-align:center;height:20px;line-height:20px;margin-right:1px;padding-top:3px}
#Shouyi h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Shouyi{height:27px;}
#Shouyi{background:url(skin1.gif) no-repeat 0 -328px;}
#Shouyi h4{background:url(skin1.gif) no-repeat -371px -297px;color:#00007f;}
#Shouyi h4.s{background:url(skin1.gif) no-repeat -289px -297px;color:#00007f;border:0;}
#ShouyiInfo{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#D4D4D4;}
#ShouyiInfo{width:348px;padding:10px;color:#D4D4D4;}
#ShouyiInfo .textArea *{font-size:14px;line-height:24px;}
#ShouyiInfo div{font-family:宋体}
#ShouyiInfo{height:355px}
#ShouyiInfo{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4;}
#ShouyiInfo .imgRArea{width:342px;}
#ShouyiInfo .imgRArea *{line-height:26px;}
#ShouyiInfo .textArea{padding:3px 0 0 0;}

#ShouyiInfoad {clear:both;overflow:hidden;padding:2px 6px 10px 1px;color:#D4D4D4;}
/*养殖专区21链接颜色控制*/
#Yangzhi2 h4 a:hover{color:#bd0a01;}
#Yangzhi2 a.lchot{color:#bd0a01;}
#Yangzhi2Info a.lchot:visited{color:#bd0a01;}
#Yangzhi2 h4{float:left;width:73px;text-align:center;height:20px;line-height:20px;margin-right:1px;padding-top:3px}
#Yangzhi2 h4.s{font-weight:700;width:73px;padding:3px 0 4px 0;height:20px;line-height:20px;}
#Yangzhi2{height:27px;}
#Yangzhi2{background:url(skin1.gif) no-repeat 0 -328px;}
#Yangzhi2 h4{background:url(skin1.gif) no-repeat -371px -297px;color:#00007f;}
#Yangzhi2 h4.s{background:url(skin1.gif) no-repeat -289px -297px;color:#00007f;border:0;}
#Yangzhi2Info{clear:both;overflow:hidden;padding:10px 6px 10px 2px;color:#D4D4D4;}
#Yangzhi2Info{width:348px;padding:10px;color:#D4D4D4;}
#Yangzhi2Info .textArea *{font-size:14px;line-height:24px;}
#Yangzhi2Info div{font-family:宋体}
#Yangzhi2Info{height:355px}
#Yangzhi2Info{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4;}
#Yangzhi2Info .imgRArea{width:342px;}
#Yangzhi2Info .imgRArea *{line-height:26px;}
#Yangzhi2Info .textArea{padding:3px 0 0 0;}

#Yangzhi2Infoad {clear:both;overflow:hidden;padding:2px 6px 10px 1px;color:#D4D4D4;}
/*广告区域*/
.adArea h5{color:#5f5f5f;}
.adArea h5 a{color:#5f5f5f;}
.adArea h5{font-size:13px;font-weight:200;margin:-8px 6px 4px 0;line-height:20px;border-bottom:#d4d4d4 1px solid;}
.adArea a.lchot{color:#bd0a01;}
#adAreaAInfo,#adAreaBInfo,#adAreaCInfo,#adAreaDInfo,#adAreaEInfo,#adAreaF{border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;background:#f6f9fe}

#adAreaAInfo a,#adAreaA a,#adAreaBInfo a,#adAreaB a,#adAreaCInfo a,#adAreaC a,#adAreaDInfo a,#adAreaD a,#adAreaEInfo a,#adAreaE,#adAreaF a{color:#5f5f5f;}
#adAreaAInfo a:hover,#adAreaA a:hover,#adAreaBInfo a:hover,#adAreaB a:hover,#adAreaCInfo a:hover,#adAreaC a:hover,#adAreaD a:hover,#adAreaDInfo a:hover,#adAreaE a:hover,#adAreaEInfo a:hover,#adAreaF a:hover,{color:#bd0a01;}
#adAreaAInfo a.lchot,#adAreaBInfo a.lchot,#adAreaCInfo a.lchot,#adAreaDInfo a.lchot,#adAreaEInfo a.lchot,#adAreaF a.lchot{color:#bd0a01;}
#adAreaAInfo a.lcbhot,#adAreaBInfo a.lcbhot,#adAreaCInfo a.lcbhot,#adAreaDInfo a.lcbhot,#adAreaEInfo a.lcbhot,#adAreaF a.lcbhot{color:#bd0a01;font-weight:bold;}

/*商业信息*/
#adAreaA{width:202px;height:510px;}
#adAreaA #adpic Ul Li{clear:both;height:63px;}
#adAreaA #adpic Ul Li img{clear:both;width:200px;padding:0px 3px 0px 0px;height:60px}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#adAreaAInfo{line-height:21px;}
}
/*企业、产品*/
#adAreaB{background:url(skin1.gif) no-repeat 0 -486px;}
#adAreaB h3{background:url(skin1.gif) no-repeat -344px -269px;color:#5f5f5f;}
#adAreaB h3.s{background:url(skin1.gif) no-repeat -289px -269px;}
.adAreaB_b{background:url(skin1.gif) no-repeat 0 -442px;}
.adAreaB_t{background:url(skin1.gif) no-repeat 0 -438px;}
#adAreaB{width:200px;height:23px;}
#adAreaB h3{font-size:13px;font-weight:200;float:left;text-align:center;cursor:pointer;margin-right:1px;}
#adAreaB span h3{margin:0;}
#adAreaB h3{width:48px;}
#adAreaB h3.s{width:47px;font-weight:700;}
#adAreaBInfo{height:360px;padding:4px 6px 9px 14px;line-height:22px;}
#adAreaBInfo a{font-size:12px;font-family:"宋体";line-height:21px;}
#adAreaBInfo .midtext{padding-right:8px;}
#adAreaBInfo .midtext .fl{font-weight:bold;color:#5f5f5f;font-size:12px;margin-left:-5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#adAreaBInfo{line-height:21px;}
}
/*农业气象*/
#adAreaC{background:url(skin1.gif) no-repeat 0 -486px;}
#adAreaC h3{background:url(skin1.gif) no-repeat -344px -269px;color:#5f5f5f;}
#adAreaC h3.s{background:url(skin1.gif) no-repeat -289px -269px;}
.adAreaC_b{background:url(skin1.gif) no-repeat 0 -442px;}
.adAreaC_t{background:url(skin1.gif) no-repeat 0 -438px;}
#adAreaC{width:200px;height:23px;}
#adAreaC h3{font-size:13px;font-weight:200;float:left;text-align:center;cursor:pointer;margin-right:1px;}
#adAreaC span h3{margin:0;}
#adAreaC h3{width:48px;}
#adAreaC h3.s{width:47px;font-weight:700;}
#adAreaCInfo{height:360px;padding:4px 6px 9px 14px;line-height:22px;}
#adAreaCInfo a{font-size:12px;font-family:"宋体";line-height:21px;}
#adAreaCInfo .midtext{padding-right:8px;}
#adAreaCInfo .midtext .fl{font-weight:bold;color:#5f5f5f;font-size:12px;margin-left:-5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#adAreaCInfo{line-height:21px;}
}
/*农业气象*/
#adAreaD{background:url(skin1.gif) no-repeat 0 -486px;}
#adAreaD h3{background:url(skin1.gif) no-repeat -344px -269px;color:#5f5f5f;}
#adAreaD h3.s{background:url(skin1.gif) no-repeat -289px -269px;}
.adAreaD_b{background:url(skin1.gif) no-repeat 0 -442px;}
.adAreaD_t{background:url(skin1.gif) no-repeat 0 -438px;}
#adAreaD{width:200px;height:23px;}
#adAreaD h3{font-size:13px;font-weight:200;float:left;text-align:center;cursor:pointer;margin-right:1px;}
#adAreaD span h3{margin:0;}
#adAreaD h3{width:48px;}
#adAreaD h3.s{width:47px;font-weight:700;}
#adAreaDInfo{height:360px;padding:4px 6px 9px 14px;line-height:22px;}
#adAreaDInfo a{font-size:12px;font-family:"宋体";line-height:21px;}
#adAreaDInfo .midtext{padding-right:8px;}
#adAreaDInfo .midtext .fl{font-weight:bold;color:#5f5f5f;font-size:12px;margin-left:-5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#adAreaDInfo{line-height:21px;}
}

/*常用链接*/
#adAreaE{background:url(skin1.gif) no-repeat 0 -447px;}
#adAreaE h3{background:url(skin1.gif) no-repeat -344px -269px;color:#5f5f5f;}
#adAreaE h3.s{background:url(skin1.gif) no-repeat -289px -269px;}
.adAreaE_b{background:url(skin1.gif) no-repeat 0 -442px;}
.adAreaE_t{background:url(skin1.gif) no-repeat 0 -438px;}
/*广告区域*/
#richAd{margin-bottom:10px;}
/*广告区域标题*/

#adAreaAInfo,#adAreaBInfo,#adAreaCInfo,#adAreaDInfo,#adAreaEInfo,#adAreaF{padding:10px 8px 10px 14px;font-size:12px; font-family:"宋体";}
#adAreaD h5{margin-top:-5px;}
#adAreaE h5{margin-top:-5px;}
.adAreaA_b,.adAreaB_b,.adAreaC_b,.adAreaD_b,.adAreaE_b,.adAreaF_b,.adAreaA_t,.adAreaB_t,.adAreaC_t,.adAreaD_t,.adAreaE_t,.adAreaF_t{height:2px;}

/*商业信息*/

/*商讯动态*/
#adAreaF{height:262px;}
#adAreaF h5{margin-top:-5px;}
/*常用链接*/
#adAreaE{width:186px;height:23px;}
#adAreaE h3{font-size:13px;font-weight:200;float:right;text-align:center;cursor:pointer;margin-right:1px;}
#adAreaE span h3{margin:0;}
#adAreaE h3{width:46px;}
#adAreaE h3.s{width:45px;font-weight:700;}
#adAreaEInfo{height:247px;padding:4px 6px 9px 14px;line-height:22px;}
#adAreaEInfo a{font-size:12px;font-family:"宋体";line-height:21px;}
#adAreaEInfo .midtext{padding-right:8px;}
#adAreaEInfo .midtext .fl{font-weight:bold;color:#5f5f5f;font-size:12px;margin-left:-5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 3.0 and Opera 9 rules here */
#adAreaDInfo{line-height:21px;}
}
/*二级页面*/
#nowpsn {
	CLEAR: both; BACKGROUND: #990000; MARGIN: 0px auto 6px; WIDTH: 960px; COLOR: #fff; HEIGHT: 32px
}
#nowpsn A {
	COLOR: white
}
#nowpsn A:hover {
	TEXT-DECORATION: underline
}
#nowpsn P#position {
	PADDING-LEFT: 20px; FLOAT: left; LINE-HEIGHT: 27px; TEXT-ALIGN: left
}
/*文章内容*/
#cntMain{
	width:960px;
	margin:0 auto;	
	}
	dt,dd{clear:both;}
	dl,dt,dd {margin:0;padding:0;border:0;}
/*文章内容-----左侧*/
#cntL{
	width:646px;
	float:left; 
border-bottom:1px solid #B7B7B7; 
		border-top:1px solid #B7B7B7;
		border-right:1px solid #B7B7B7;
		border-left:1px solid #B7B7B7;  
	}
#cntLSOU{
	width:920px;
	float:left; 
	border-top:1px solid #B7B7B7;
	}
#ArtTit{
	margin:0 auto;
	width:610px;
	font-weight:bold;
	font-size:22px;
	color:black;
	padding:15px 0;
	clear:both;
	}
#ArticleTit{
	margin:0 auto;
	width:640px;
	font-weight:bold;
	font-size:22px;
	color:black;
	padding:15px 0;
	text-align:center;
	clear:both;
	}
#ArtFrom{
	margin:5px auto 15px auto;
	width:610px;
	clear: both;
	border-top:1px solid #D0D0D0;
	border-bottom:1px solid #D0D0D0; 
	height:25px; 
	line-height:25px;
	text-decoration:none;
	}
#ArtFrom a{text-decoration:none;}
#ArtCnt{
	width:610px;
	margin:0 auto;
	font-size:14px;
	line-height:180%;
	text-align:left;
	/*text-indent: 28px;*/
	word-wrap:break-word;
    word-break:break-all;
	clear:both;
	}
#ArtCnt a{color:blue;text-decoration:underline;}
#ArtCnt a:hover{color:#C2130E;}
#ArticleCnt{
	width:610px;
	margin:0 auto;
	font-size:14px;
	line-height:180%;
	text-align:left;
	/*text-indent: 28px;*/
	word-wrap:break-word;
    word-break:break-all;
	clear:both;
	}
#ArticleCnt a{color:blue;text-decoration:underline;}
#ArticleCnt a:hover{color:#C2130E;}
#ArticleCnt a.lan{color:#1F376D;text-decoration:none;}
#ArticleCnt a.lan:visited,#ArticleCnt a.lan:hover{color:#bd0a01;}
#PicInPic td{line-height:21px;}
#PicInPic a{color:blue;text-decoration:none;}
#PicInPic a:hover{color:red;text-decoration:underline;}
#ArtCnt p{margin:12px 0;}
#ArtCnt td{line-height:20px;}
#ArticleCnt p{margin:12px 0;}
#ArticleCnt td{line-height:20px;}
#ArtTopic{
	width:590px; 
	text-align:right;
	padding:5px 20px 5px 0;
	margin:15px auto;
	font-size:14px; 
	background-color:#F2F2F2;
	line-height:23px;
	clear:both;
	} 
#ArtTopic a{color:#6A6A6A;}
#ArtTopic a:hover{color:#C2130E;}
#ArtPLink{
	width:610px;
	margin:5px auto;
	font-size:14px;
	clear:both;
	} 
#ArtPLink span{color:#C2130E;}
#ArtPLink img{margin:0 4px;}
#ArtInfo{
	width:610px;
	margin:4px auto;
	text-align:left;
	color:#990000;
	clear:both;
	}
#ArtInfo a{text-decoration:none;color:#990000;}
#ArtInfo a:hover{text-decoration:none;}
#Reading{float:left;margin-right:10px;font-size:12px;}
#Reading .rline{border:1px solid #BE0000;border-top:0;}
#Reading .imgline{border:1px solid #ccc;}
#Reading .readtit{font:18px 黑体;padding:10px 0 5px 0;}
#Reading a{color:#333;text-decoration:underline;}
#Reading a:hover{color:#C2130E;}
#Reading td{line-height:23px;}
/* 相关链接 */
#Aboutnews{
	margin:4px auto;
	width:610px;
	clear:both;
	text-align:left;
} 
#Aboutnews dd a{color:#666;text-decoration:none;margin:0 2px 0 10px;line-height:22px;}
#Aboutnewsc dd a:hover{color:#C2130E;} 
#Aboutnews dt{
	padding-left:25px;
	font-size:14px;
	font-weight:bold;
	background:#EBEBEB;
	line-height:27px;
	text-align:left;
	border:1px solid #ccc;
	border-bottom:0;
	}
#Aboutnews dd{
	padding:6px 0 6px 12px;
	color:#666;
	border:1px solid #ccc;
	border-top:0;
	}
#EndLine{
	width:960px;
	margin:0 auto;
	height:1px;
	line-height:1px;
	font-size:1px;
	clear:both; 
	}
#EndLine div{width:960px;border-bottom:1px solid #B7B7B7;float:left;height:1px;} 
/*文章内容----右侧*/
#cntR{float:right;
width:304px;
margin-right:1px;
border-bottom:1px solid #B7B7B7; 
		border-top:1px solid #B7B7B7;
		border-right:1px solid #B7B7B7;
		border-left:1px solid #B7B7B7;  
}
#navcontainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #f6f8f9; PADDING-BOTTOM: 1em; MARGIN: 0px auto; TEXT-TRANSFORM: lowercase; PADDING-TOP: 1em; FONT-FAMILY: georgia, serif; TEXT-ALIGN: center
}
UL#navlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
UL#navlist LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL#navlist LI A {
	BORDER-RIGHT: #aaab9c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffe 1px solid; DISPLAY: block; PADDING-LEFT: 1em; BACKGROUND: #f6f8f9; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #fff 1px solid; WIDTH: 100%; COLOR: #2586d7; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
UL#navlist LI#active A {
	COLOR: #fff; BACKGROUND-COLOR: #2586d7
}
UL#navlist LI A:hover {
	BORDER-LEFT-COLOR: #ccc; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-COLOR: #fff; COLOR: #ef6500; BORDER-TOP-COLOR: #aaab9c; BORDER-RIGHT-COLOR: #fff
}
UL#navlist LI#active A:hover {
	BORDER-LEFT-COLOR: #ccc; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-COLOR: #fff; COLOR: #ef6500; BORDER-TOP-COLOR: #aaab9c; BORDER-RIGHT-COLOR: #fff
}

/* AD:矩形大图 */
#AdZoneRa{
        PADDING-TOP: 8px;
	width:301px;
	clear:both;
	text-align:right;
	border-bottom:6px solid #fff;}
/* AD:招商广告 (come in for "cntR"-dt and dd) */
#AdZoneRb{
	width:301px; 
	clear:both;
        border-bottom:6px solid #fff;
}
#AdZoneRb dt{
	padding-left:11px;
	background:#EBEBEB;
	line-height:21px;
	text-align:left;
	font-weight:bold;
	}
#AdZoneRb dd{padding:8px 0;text-align:left;	}
#AdZoneRb dd a{color:#666;text-decoration:underline;}
#AdZoneRb dd a:hover{color:#C2130E;}
/* AD:招商广告 (come in for "cntR"-dt and dd) */
#AdZoneRc{
	width:301px; 
	clear:both;
        border-bottom:1px solid #B7B7B7;
}
#AdZoneRc dt{
	padding-left:11px;
	background:#EBEBEB;
	line-height:21px;
	text-align:left;
	font-weight:bold;
	border-top:1px solid #B7B7B7;
	}
#AdZoneRc dd{padding:1px 0;text-align:left;	}
#AdZoneRc dd a{color:#cc0000;text-decoration:none;FONT-WEIGHT: bold; FONT-SIZE: 16px;}
#AdZoneRc dd a:hover{color:#C2130E;FONT-WEIGHT: bold; FONT-SIZE: 16px;}
/*AD:左右分栏全局定义*/
p.rcLeft{float:left;width:280px;padding-left:12px;line-height:22px;text-align:left;}
p.rcRight{float:left;line-height:22px;text-align:left;}
/*AD:二级页面结束*/
.footernew {color:#515151;text-align:center;font-size:12px;line-height:24px;width:910px;margin:0 auto; padding-top:12px;}
.footernew a {color:#515151;text-decoration:none;}
.footernew a.lchot {color:#bd0a01;}
.footernew a:hover {color:#bd0a01;text-decoration:underline;}
.footernew a:visited {color:#515151;}
.footernew div{width:646px; margin:0 auto;}
.footernew p{float:center;width:65px;height:84px;border:1px solid #d2d2d2;padding:0;line-height:20px; margin:6px;font-size:12px;}
.footernew .fl{float:left;padding:3px;}
.footernew .fr{float:right; width:72px;padding:5px 3px 0 3px;}