.divmenushow{
	POSITION:absolute;
	display:inline;
	text-align:left;
	MARGIN: 0px;
	padding-left: 0px;
	background-position: left;
	font-weight: normal;
	padding-top: 8px;
}
.divmenuhidden{
	POSITION:absolute;
	display:none;
	PADDING-left: 0px;
	margin: 0px;
	left: 0px;
	background-position: left;
	font-weight: normal;
}
.navbg1 {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 4px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	background-image: url(../images/bg10.gif);
	background-repeat: repeat-x;
	background-position: left 0px;
}
.navbg2 {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 4px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	background-image: url(../images/bg1111.gif);
	background-repeat: repeat-x;
	background-position: left 0px;
}

.navbg3 {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 4px;
	PADDING-RIGHT: 0px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	background-image: url(../images/bg1211.gif);
	background-repeat: repeat-y;
	background-position: left 0px;
}
.navbg4 {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 4px;
	PADDING-RIGHT: 0px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	background-image: url(../images/bg1311.gif);
	background-repeat: repeat-y;
	background-position: left 0px;
}

.linksbg {
	TEXT-ALIGN: left; PADDING-BOTTOM: 1px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 6px; WIDTH: auto; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; WORD-BREAK: keep-all; PADDING-TOP: 1px}
